@import "tailwindcss";

@font-face {
  font-family: WorkSansBold;
  src: url(../fonts/static/WorkSans-Bold.ttf);
}

@font-face {
  font-family: WorkSansRegular;
  src: url(../fonts/static/WorkSans-Light.ttf);
}

body {
  margin: 0;
}

h1 {
  font-family: WorkSansBold;
}

p {
  font-family: WorkSansRegular;
}
/* CD5D67 */